.accordion_item{
    background: #fafafa;
    margin: 2px 0;
}

.accordion_summary{
    padding: 10px;
    background: lightgray;
    font-size: larger;
    font-weight: bolder;
}

.accordion_details{
    margin: 18px 12px;
    text-align: justify;
    line-height: 1.5em;
}

.accordion_icon{
    margin-right: 12px;
    float: right;
}